@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
}

:root{
    --color-back-1:rgb(255, 228, 196);
    --color-enfasis:brown;
    --width-content: 1200px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image:url(img/background.png);
    background-size: cover;
}
.width-content{
    max-width: 1200px;
    margin: 0px auto;
}

header div{
    position: absolute;
    top:5%;
    left:5%;
}

header div > img{
    width: 20vw;
}

header > img{
    width: 100%;
}

h1{
    display:none;
}
nav{
    position: sticky;
    top: 0;
    background-color: var(--color-back-1);
    z-index: 2;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid black;
    padding: 10px;
    
    
}
.nav-ul > li{
    list-style: none;
    padding: 10px;
}
.nav-ul > li:hover{
    background-color: brown;
    border-radius: 50%;
}
.nav-ul > li > a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
h2, h3{
    font-family: Amita, serif;
    text-align: center;
}
h2{
    font-size: 2.5rem;
    position: relative;
    top: 60px;
    margin-bottom: 60px;
}
h3{
    font-size: 2rem;
}
article p{
    font-size: 20px;
    text-align: justify;
}
#destinos > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article{
    max-width: 50%;
    padding: 5px;
    border: 20px solid transparent;
}
article:hover{
    border:20px solid var(--color-back-1);
}
article img{
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}
.iconos{
    max-width: 30%;
    padding: 5px;
    padding-top: 50px;
}
.iconos img{
    width: 60%;
}
.iconos > p{
    padding-top: 20px;
    text-align: justify;
}
footer{
    background-color: var(--color-back-1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0px;
}

.footer-div > p{
    font-family: Amita, serif;
    font-size: 1.5rem;
    font-weight: 700px;
}
.footer-div > img{
    width: 80px;
}

.footer-div > div >img{
    height: 32px;
}
